<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>templateID</key>
		<string>1</string>
		<key>name</key>
		<string>Greeting</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>templateID</key>
		<string>2</string>
		<key>name</key>
		<string>Birthday</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>templateID</key>
		<string>3</string>
		<key>name</key>
		<string>Blessing</string>
	</dict>
</array>
</plist>
